<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <span>Trang chủ</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý dữ liệu</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/supplier"></i> Nhà cung cấp</a></li>
                    <li><a href="/customer"></i> Khách hàng</a></li>
                    <li><a href="/shipper"></i> Người giao hàng</a></li>
                    <li><a href="/employee"></i> Nhân viên</a></li>
                    <li><a href="/category"></i> Loại hàng</a></li>
                    <li><a href="/product"></i> Mặt hàng</a></li>

                </ul>

            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i><span>Bán hàng</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/order"></i> Nhà cung cấp</a></li>
                    <li><a href="/order/create"></i> Khách hàng</a></li>
                   

                </ul>

            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
